/** {
  border: 1px solid green;
}*/

h1 {
  color: lightgray;
  background-color: brown;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

h1:hover {
  cursor: pointer;
}

span {
  font-style: italic;
  color: rgba(211, 211, 211, 0.781);
}
