.preview {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  max-width: 700px;
}

.preview:hover {
  background-color: lightgray;

  cursor: pointer;
}

.imgUrl {
  width: 400px;
}

.imgTh {
  width: 200px;
}

.vid {
  width: 400px;
}

.subreddit {
  text-decoration: underline;
  text-align: left;
  width: max-content;
}

.subreddit:hover {
  cursor: pointer;
  text-decoration: none;
}

.link {
  text-decoration: underline;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.link:hover {
  cursor: pointer;
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 20px;
  display: flex;
  padding: 0 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
