.preview {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  /*max-width: 700px;*/
}

.preview:hover {
  background-color: lightgray;
  cursor: pointer;
}

.subreddit {
  text-decoration: underline;
  text-align: left;
  width: max-content;
}

.subreddit:hover {
  cursor: pointer;
  text-decoration: none;
}

.imgUrl {
  width: 400px;
}

.imgTh {
  width: 200px;
}

.vid {
  width: 400px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 20px;
  display: flex;
  padding: 0 5px;
}

@media only screen and (max-width: 1000px) {
  h3 {
    font-size: 18px;
  }
  .imgUrl {
    width: 300px;
  }

  .imgTh {
    width: 200px;
  }

  .vid {
    width: 300px;
  }

  .preview p {
    font-size: smaller;
  }
}

@media only screen and (max-width: 450px) {
  .preview {
    width: auto;
  }

  .info {
    display: none;
  }

  h3 {
    font-size: 16px;
  }
  .imgUrl {
    width: 200px;
  }

  .imgTh {
    width: 200px;
  }

  .vid {
    width: 200px;
  }
}
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }

  .imgUrl {
    width: 100px;
  }

  .imgTh {
    width: 100px;
  }

  .vid {
    width: 100px;
  }
}
