.preview {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.imgUrl {
  width: 400px;
}

.imgTh {
  width: 200px;
}

.vid {
  width: 400px;
}

.link {
  text-decoration: underline;
}
.link:hover {
  cursor: pointer;
  text-decoration: none;
}
