form {
  background-color: white;
  width: max-content;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
}

button {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 40px;
}

button:hover {
  cursor: pointer;
}

.search {
  height: 30px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 30px;
  width: 300px;
}

.x {
  padding: 0 10px;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  height: max-content;
}

.x:hover {
  cursor: pointer;
  color: black;
}
