form {
  background-color: white;
  max-width: 270px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
}

button {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 40px;
}

button:hover {
  cursor: pointer;
}

.search {
  height: 30px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 30px;
}

.x {
  padding: 0 10px;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  height: max-content;
}

.x:hover {
  cursor: pointer;
  color: black;
}

@media only screen and (max-width: 500px) {
  input {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .search {
    height: 20px;
  }

  input {
    height: 20px;
  }

  button {
    height: 30px;
  }
}
