.container {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  width: 250px;
}

.container:hover {
  background-color: brown;
  color: lightgray;
  cursor: pointer;
  border: 1px solid brown;
}

.container img {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 220px;
  }
}

@media only screen and (max-width: 650px) {
  .container p {
    display: none;
  }

  .container {
    width: max-content;
  }
}
