.container {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  width: 220px;
}

.container:hover {
  background-color: brown;
  color: lightgray;
  cursor: pointer;
  border: 1px solid brown;
}

.container img {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
}
