.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: brown;
  color: lightgray;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 7px;
  display: block;
  border: 1px solid lightgray;
  text-decoration: none;
}

.top:hover {
  cursor: pointer;
  background-color: lightgray;
  color: brown;
  border: 1px solid brown;
}
