.post {
  border: 5px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: larger;
}

.comment {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.ul {
  list-style: none;
  padding: 1px;
  word-wrap: break-word;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

.postImg,
.postVid {
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin: 5px auto;
}
