@keyframes changeSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.loading {
  display: flex;
}

.loadingText {
  text-align: center;
}

.circle1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: brown;
  margin: 20px;
  animation-name: changeSize;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 0;
}
.circle2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: brown;
  margin: 20px;
  animation-name: changeSize;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 200ms;
}
.circle3 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: brown;
  margin: 20px;
  animation-name: changeSize;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 400ms;
}

.post {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: larger;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

.postText {
  font-size: 20px;
}

.postImg,
.postVid {
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin: 5px auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentsInfo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon {
  height: 20px;
  margin: 5px;
}

.ul {
  list-style: none;
  padding: 1px;
  word-wrap: break-word;
}

.comment {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.commentText {
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  .post h3 {
    font-size: 20px;
  }

  .postText {
    font-size: 18px;
  }

  .postImg,
  .postVid {
    max-width: 100%;
    max-height: 400px;
  }

  .commentText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 650px) {
  .post h3 {
    font-size: 18px;
  }

  .postText {
    font-size: 16px;
  }

  .postImg,
  .postVid {
    max-width: 100%;
    max-height: 300px;
  }

  .commentText {
    font-size: 14px;
  }
}
